#single node install config
{% if inventory_hostname in groups['trino_master'] -%}
coordinator=true
node-scheduler.include-coordinator=true
{% else -%}
coordinator=false
{% endif -%}
http-server.http.port=8080
discovery.uri=http://{{groups['trino_master'][0]}}:8080
